.content {
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  font-size: 26px;
  color: #e30613;
  font-weight: bold;
}

.btn {
  border: 0;
  background-color: none;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  opacity: 0.5;
  transition: 0.5;
}

.btn:hover {
  opacity: 1;
}
