.footer {
  padding: 60px 0;
  background-color: #8cd5e1;
}

.footerBox {
  display: flex;
  justify-content: space-between;
}

.logoBox {
  flex: 0 0 180px;
  margin: 0;
}

.logoBox a {
  display: block;
}

.logoBox a img {
  display: block;
  width: 100%;
  height: auto;
}
