.calculatorBox {
  height: 870px;
  overflow: hidden;
  background-image: url('./image/Layer_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.generalInfo {
  background-color: #8cd5e1;
}
